@model CountryhouseService.ViewModels.AdsListPagedResult
@{
    ViewData["Title"] = "Ads";
    ViewData["Action"] = "Index";
    ViewData["Controller"] = "Ads";
    string previewImage;
}
<h1>Index</h1>
<div class="col-12"><a asp-action="Create" class="btn btn-primary">Create Ad</a></div>
<form class="form-inline" asp-action="Index" method="get">
    <input hidden name="showCurrentUserData" value="@Model.ShowCurrentUserData" />
    <label for="search-string" class="mb-2 mr-sm-2">Search by title</label>
    <div class="input-group mb-2 mr-2 flex-grow-1">
        <input id="search-string" type="text" class="form-control" placeholder="Enter the title..." value="@Model.CurrentSearchString" name="searchString">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    <label for="sort-by" class="mb-2 mr-sm-2">Sort by</label>
    <select id="sort-by" type="text" class="form-control mb-2 mr-2" name="sortBy">
        <option id="newest" value="newest">Newest</option>
        <option id="oldest" value="oldest">Oldest</option>
        <option id="budget_desc" value="budget_desc">From expensive to cheap</option>
        <option id="budget_asc" value="budget_asc">From cheap to expensive</option>
    </select>
</form>
<div class="row justify-content-center">
    <partial name="_PaginationPartial" model="Model" view-data="ViewData" />
</div>
<div class="row">
    @if (Model.Ads.Data.Count() != 0)
    {
        @foreach (Ad ad in Model.Ads.Data)
        {
            if (!ad.UseDefaultImage) previewImage = ad.Images.FirstOrDefault().Source;
            else previewImage = Constants.DefaultAdPreviewSource;
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block pr-0">
                        <img src="@previewImage" class="embed-responsive-1by1" width="250" height="250" />
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success"></strong>
                        <h3 class="mb-0">@ad.Title</h3>
                        <div class="mb-1 text-muted">
                            @if (ad.FromDate != null)
                            {
                                DateTime fromDate = (DateTime)ad.FromDate;
                                @:Start from: @fromDate.ToShortDateString() &nbsp;
                            }
                            End Until: @ad.UntilDate.ToShortDateString()
                        </div>
                        <p class="mb-auto">@ad.Description</p>
                        <p>Price = @ad.Budget.ToString("c")</p>
                        <a asp-controller="Users" asp-action="Profile" asp-route-userId="@ad.Author.Id">@ad.Author.FirstName @ad.Author.LastName</a>
                        <a href="/Ads/@ad.Id">Read more</a>
                        <p>Status: @ad.Status.Name</p>
                    </div>

                </div>
            </div>
        }
    }
    else
    {
        <div class="row">No content on this page yet</div>
    }
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            $(@Model.CurrentSortOrder).attr("selected", "");
        })
    </script>
}



